body {
    background-image: linear-gradient(to bottom left, #c681c3, #71abd2); /* gradient */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section_1{
    font-family: 'Times New Roman', Times, serif;
}

#heading{
    font-size: 24px;
    text-decoration: underline;
    font-weight: 900;
    text-align: center;
    margin-inline: 40%;
}

#sub_heading{
    font-size: 20px;
    font-weight: 600;
    text-align: 50%;
    margin-inline: 15%;
}
.dashboard{
    margin-inline: 180px;
    margin-right: 30px;
    margin-top: 120px;
    height: auto;
    width: 900px;
    background-color: rgba(240, 248, 255, 0.412);
    backdrop-filter: blur(50%);
    display: flex;
    border-radius: 30px;
    position: absolute;
    top: 40%;
    left: 42%;
    transform: translate(-60%, -52%);
    border-style: solid;
    border-width: 0.1px;
    border-color: black;
    box-shadow: 15px 14px 10px 0 rgba(0, 0, 0, 0.4);
    }

#item{
    margin-inline: 50px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 620px;
    width: 600px;
    left: 50%;
    background-color: aliceblue;
}

button{
    background-color: #71abd2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    font-size: 26px;
    margin-top: 63%;   
}

button:hover{
    cursor: pointer;
    font-weight: 700;
    font-size: 32px;
    background-color: #c681c3;
}

#title{
    text-decoration: underline;
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
}

 #add_task{
    right: 0px;
 }