/* Styling for the application */
body {
    height: auto;
    width: auto;
    background: -webkit-linear-gradient(bottom, rgb(255, 0, 0) 0%, rgb(0, 136, 255) 100%);
    background-color: rgba(4, 146, 137, 0.521);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.body {
    margin-top: -90px;
}

 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 100 to 900 */

.raleway-fonts {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Scroll to Top Button Styles */
#scrollToTop {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #2f2b2b;
    color: #fff;
    border: none;
    padding: 0px 0px;
    cursor: pointer;
    display: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#scrollToTop:hover {
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #33333364;
    color: #fff;
    padding: 20px;
    margin-top: -5%;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1.5);
}

#hero {
    height: 20px;
    margin-inline: 9%;
    width: 800px;
    margin-top: 20px;
    background-color: #dadada7d;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1.5);
}

.toggle_theme {
    height: 28px;
    margin-inline: 75%;
    width: 90px;
    margin-top: -30px;
    background-color: #ffffff;
    color: #050505;
    padding: 3px;
    text-align: center;
    border-radius: 25px;
}

nav {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -10%;
}

nav ul li {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: inline;
    margin-right: 0px;
}

nav a {
    height: 40px;
    text-decoration: none;
    align-items: center;
    color: #000000;
    padding: 10px;
}

nav a:hover {
    background-color: aliceblue;
    border-radius: 12px;
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

.toggle_theme ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0%;
}

.toggle_theme ul li {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: inline;
    margin-right: 0px;
    font-weight: 700;
}

.toggle_theme ul li :hover {
    color: #fff;
    background-color: #000000;
    border-radius: 60%;
}

.toggle_theme a {
    height: 40px;
    text-decoration: none;
    align-items: center;
    color: #000000;
    padding: 5px;

}

main {
    padding: 80px;
}

.split {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section :last-child {
    margin-bottom: 50px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
}

#section {
    font-size: 18px;
}

.explore {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 36px;
    width: auto;
    color: #ffffff;
    border-radius: 10px;
    background-color: rgb(4, 110, 137);
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.explore a{
    color: aliceblue;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.explore:hover {
    cursor: pointer;
    text-decoration: underline;
    border-bottom: 1px solid #eccf3c;
    border-top: 1px solid #d77417;
    background: -webkit-linear-gradient(bottom left, rgb(255, 0, 0) 0%, rgb(0, 136, 255) 100%);
}

#welcome_message {
    font-size: 26px;
    line-height: 1.5;
    margin-top: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 20px;
    color: #f3f3f3;
}

.hyperlinks{
    color: #969696;
}
.hyperlinks:hover{
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

footer {

    height: 300px;
    margin: -0.7%;
    color: aliceblue;
    font-size: 18px;
    padding-top: 60px;
    margin-bottom: -0.6%;
    background-color: black;
    text-decoration: none;

    padding: 40px;
    justify-content: space-between;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


